{% extends "base.html" %}
{% block CONTENT %}
<!-- SECTION ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

<!-- SECTION Logo -->
<div class="d-flex align-items-center justify-content-between">
    <a href="index.html" class="logo d-flex align-items-center">
    <!-- <img src="/static/image/macronizer-logo.png" alt="brand-logo"> -->
    <span class="d-none d-lg-block">Macronizer</span>
    </a>
    <i class="bi bi-list toggle-sidebar-btn"></i>
</div>
<!-- End Logo -->


<!-- SECTION Icons Navigation -->
<nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">

    <!-- SECTION Profile Nav -->
    <li class="nav-item dropdown pe-3">

        <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
        <!-- <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle"> -->
        <span class="d-none d-md-block dropdown-toggle ps-2">{{current_user.name}}</span>
        </a><!-- End Profile Iamge Icon -->

        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
        <li class="dropdown-header username">
            <h6>{{current_user.username}}</h6>
        </li>
        <li>
            <hr class="dropdown-divider">
        </li>

        <li>
            <a class="dropdown-item d-flex align-items-center" href={{url_for("main.show_user_profile")}}>
            <i class="bi bi-person"></i>
            <span>My Profile</span>
            </a>
        </li>
        <!-- <li>
            <hr class="dropdown-divider">
        </li> -->

        <!-- <li>
            <a class="dropdown-item d-flex align-items-center" href="">
            <i class="bi bi-gear"></i>
            <span>Account Settings</span>
            </a>
        </li> -->

        </ul>
        <!-- End Profile Dropdown Items -->
    </li>
    <!-- End Profile Nav -->

    </ul>
</nav>
<!-- End Icons Navigation -->

</header>
<!-- End Header -->

<!-- SECTION ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

<ul class="sidebar-nav" id="sidebar-nav">
    
    <!-- SECTION Dashboard Nav -->
    <li class="nav-item">
    <a class="nav-link collapsed" href={{url_for('main.show_dashboard')}}>
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
    </a>
    </li>
    <!-- End Dashboard Nav -->

    <!-- SECTION Nutrition Nav -->
    <li class="nav-item">
        <a class="nav-link collapsed" href={{url_for('main.show_nutrition_page')}}>
            <i class="fa-brands fa-nutritionix"></i>
            <span>Nutrition</span>
        </a>
        </li>
    <!-- End Nutrtion Nav -->

    <!-- SECTION Profile Page Nav -->
    <li class="nav-item">
    <a class="nav-link collapsed" href={{url_for('main.show_user_profile')}}>
        <i class="bi bi-person"></i>
        <span>Profile</span>
    </a>
    </li><!-- End Profile Page Nav -->

    <!-- SECTION Logout -->
    <li class="nav-item">
        <form action="/logout" method="post">
            <button class="btn btn-link nav-link collapsed w-100">
                <i class="bi bi-box-arrow-in-right"></i>
                <span>Logout</span>
            </button>        
        </form>
    </li><!-- End Logout -->

</ul>

</aside>
<!-- End Sidebar-->

{% block MAIN %}{% endblock %}

{% endblock %}